body, html {
	background-color: rgb(230, 230, 230);
	font-family: Arial, Helvetica,sans-serif;
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}

footer {
	background-color: #333;
	width: 100%;
	padding: 0.1em;
	clear: both;
}

footer p {
	text-align: center;
	color: honeydew;
	margin: 0.5em;
}

.hero-image {
	background-image: url("images/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 300px;
}

#github-mark {
	width: 32px;

}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}

h1,h2 {
	margin: 1em;
	font-size: 2em;
}

h2 {
	font-size: 1.7em;
	color: #101e97;
}
main a {
	color: #101e97;
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
	text-decoration: underline;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
hr {
	margin: 1em;
	border: 1px dotted #101e97;
	clear: both;
}
figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 45%;
	border: 1px solid black;
}
figcaption {
	font-size: 85%;
}
img {
	width: 100%;
}

.linkovi img {
	width: 32px;
	margin: 0 0.2em 0.5em 1em;
} 

.vijesti img {
	width: 12%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}

.vijesti h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: #101e97;
}

.vijesti hr {
	margin: 1em;
	border: 1px dotted #101e97;
	clear: both;
}

.vijesti time {
	font-size: 90%;
	font-style: italic;
}

.vijesti-1 h1{
	color: #101e97;
}

.vijesti-1 img {
	border: 1px solid;
	width: 50%;
}

.vijesti-1 {
	text-align: center;
}

#vijesti-galerija figure {
	padding: 0.5em;
	margin: 0em 1em 0.5em 1em;
	float: left;
	width: 20%;
	border: 1px solid black;
}
#vijesti-galerija figcaption {
	font-size: 85%;
	text-align: center;
}

#galerija img{
	height: 200px;
	width: 300px;
}
#galerija figure {
	float: left;
	width: min-content;
	padding: 0.5em;
	margin: 0 1em 2em 1em;
	border: 1px solid black;
}

#galerija figcaption {
	font-size: 85%;
	text-align: center;
}


.kontakt {
	margin: 1em 1em 0.5em 1em
}

.kontakt h1 {
	font-weight: bold;
	font-size: 2em;
}
#o-nama figure {
	float:right;
}

input[type=text], input[type=email], select, textarea {
    display: block;
	width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 95%;
}


input[type=submit], input[type=reset] {
    display: block;
	background-color: #101e97 ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
	width: 7.5%;
	margin-bottom: 0.5em;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #101e90;
}

@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
	.vijesti img {
		width: 95%;
		padding: 0.5em;
		margin: 0 1em 0.5em 0.5em;
	}
	.vijesti time {
		margin: 0 0 0 1em;
	}
	#vijesti-galerija figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 90%;
		border: 1px solid black;
	}
	#vijesti-galerija figcaption {
		font-size: 90%;
		text-align: center;
	}
	#galerija figure {
		padding: 0.5em;
		margin: 0 1em 0.5em 1em;
		float: left;
		width: 40%;
		border: 1px solid black;
	}
	#galerija figcaption {
		font-size: 90%;
		height: 70px;
		text-align: center;
	}
}